# global options block
{
    # uncomment the line below to disable automatic HTTPS certificate fetching (for local testing)
    auto_https off
}

:80, :443 {
    # api
    @api host api.*
    handle @api {
        reverse_proxy voter-http:8080
    }

    # voter app
    @voter host voter.*
    handle @voter {
        reverse_proxy voter-app:80
    }

    # default, goes to home
    handle {
        reverse_proxy home-site:80
    }
}
