# global options block
{
    # uncomment the line below to disable automatic HTTPS certificate fetching (for local testing)
    # auto_https off
}

# home
hackcation.dev {
    reverse_proxy home-site:80
}

# api subdomain
api.hackcation.dev {
    reverse_proxy voter-http:8080
}

# voter app
voter.hackcation.dev {
    reverse_proxy voter-app:3000
}
