.logo {
  display: inline-block;
  position: relative;
  padding-left: 13px;
}
.logo svg {
  width: 13px;
  height: 13px;
  display: inline;
  position: absolute;
  left: 0;
  bottom: 13px;
}
.logo span {
  color: inherit;
}
