.logo {
  --dot-size: 0.3em;
  display: inline-block;
  position: relative;
  padding-left: var(--dot-size);
}
.logo svg {
  width: var(--dot-size);
  height: var(--dot-size);
  display: inline;
  position: absolute;
  left: 0;
  bottom: 25%;
}
.logo span {
  color: inherit;
}
